extends layout

block content
  #header
    a(title="{{info.name}}" href="http://www.strava.com/clubs/{{info.id}}")
      img#clubAvatar(class="img-circle" ng-src="{{info.avatar}}")
    #headerText
      h1 {{info.name}}
      h4 {{info.description}}
    #clubStats
      span{{activitySum.distance}} km ridden this month.  
      br
      span{{activitySum.elevation_gain}} m climbed.

    #member(ng-repeat="member in members")
      a(title="{{member.name}}" href="http://www.strava.com/athletes/{{member.id}}")
        img#memberAvatar(class="img-circle" ng-src="{{member.avatar}}") 

  #leaderboard
    h2 Monthly leaderboard
    table(class="table table-striped")
      thead
        tr
          th Name
          th Distance
          th Rides
          th Climbing
          th Average Speed
          th Achievements
      tbody
        tr(ng-repeat="item in leaderboard | orderBy:'-distance'")
          td
            img#memberAvatar(class="img-circle" ng-src="{{item.avatar}}")
            {{item.name}} 
          td{{item.distance}} km
          td{{item.ride_count}}
          td{{item.elevation_gain}} m
          td{{item.average_speed}} km/h
          td{{item.achievement_count}}

