extends layout

block content
  #header
    img#clubAvatar(src="{{info.avatar}}")
    h1 {{info.name}}
    h4 {{info.description}}

  #member(ng-repeat="member in members")
    span#name {{member.name}} 
