body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#header {
  padding-bottom: 50px;
}

#clubAvatar {
  float: left;
  margin-right: 20px;
}