body {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 30px;
}

a {
  color: #00B7FF;
}

#header {
  height: 144px;
  margin-bottom: 20px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

#clubAvatar {
  float: left;
  margin-right: 35px;
  padding-top: 10px;
}

#headerText {
  padding-top: 25px;
  padding-bottom: 25px;
}

#clubStats {
  float: left;
  padding-right: 30%;
}

#member {
  float: left;
}

#memberAvatar {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

#leaderboard {
  margin-top:90px;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

